##ignore this file##
*/target/*
*/release/*
/.springBeans
/.factorypath
.classpath
.project
.settings
/logs/
*/logs/*
/logs/*
.idea
.mvn/*
.metadata
.metadata/**/*
.metadata/**/**/*
/pom.xml.bak
*.iml
# Java annotation processor (APT)
.factorypath